* {
  box-sizing: border-box;
}

  body {
    background-color: rgba(233, 232, 232, 0.904);
    
  }

  #home_body {
  
    background-color: #333;
    

  }
  #gallery_body {
   padding-bottom: 75px;
   padding-top:50px;
  }

 
   /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position:fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {  
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #dd551f;
  color: white;
}

/* bio */


    

  .home_img {
   width: 100%;
  
   
  }

/* home Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  height: auto;
  
  
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
/* gallery grid */

#gallery {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
    margin-left:auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    grid-gap:15px;
    
}


.gallery-img {
    border: 2px rgb(0, 0, 0) solid;
    
}


/* grid media */
@media screen and (max-width: 600px) {

    #gallery {
        
    }
    }
    
@media screen and (min-width: 600px), (max-width: 1000px) {

}    
.row > .column {
  padding: 0 8px;

}

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* column, and the media queries used to keep the thumbnails centered. (To the best of my abilities atm) */
  .column {
    float: right;
    width: 20%;
    margin: .7em .7em 1.5em 2em;
  }

  
  @media screen and (max-width: 1000px) {
    .column {
      margin: .0em .0em 1em 0em;
      
    }
  }

  @media screen and (max-width: 865px) {
    .column {
      margin: 1em 1.4em 1em 1em;
      
      
    }
  }

  @media screen and (max-width: 835px) {
    .column {

      /*try making it work someday */
      visibility: hidden;
      
      
    }
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  /* lil icons */
  img.demo {
    opacity: 0.6;
  }
  
  .demo {
    
  }
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 


.bio-container {
  
  width: 75%;
  padding: 50px 50px 50px 50px;
  overflow:auto;
  margin-top: 65px;
  margin-right: auto;
  margin-left: auto;
 
  

}

.bio-img {
  float: right;
  padding-bottom: 0px 50px 10px 10px;
  margin-right:auto;
  margin-left: auto;
  
  
 
}

.bio-content {
  float: left;
  max-width:45%;
  padding-top:50px;
  margin-right:auto;
  margin-left: auto;
}

 /* browser less than 950 atm & greater than x    @media*/

 
 @media screen and (max-width: 1040px) {
  
  .bio-container {
  width: 100%;
 }
}
  
  @media screen and (min-width: 1200px) {
    .bio-container {
      width: 65%;
    }
  }

  @media screen and (min-width: 1600px) {
    .bio-container {
      width: 50%;   
  }
  }

  @media screen and (max-width: 761px ) {
    
    .bio-img{
  
      width: 50%;
      
    }
    
    .bio-content {
    
      width: 50%;
    }
  
      
    
       
     }
    

     @media screen and (max-width: 630px ) {
      .bio-img {
        float:none;
   
        width: 75%;
        align-items: center;
        
      }
      .bio-content {
       float: none;
       max-width: 100%;
       align-items: center;
       padding: 0px 0px 50px 0px;
      }
    }



    .contact-body {
      margin-right: auto;
      margin-left: auto;
      
    }


    #email {
      padding-top: 125px;
      text-align: center;
      
    }

    #insta {
      text-align: center;
    }