*,
*::before,
*::after {
  box-sizing: border-box;
}


   
    

/* grid */

#gallery {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
   margin: 0 auto;
}

.gallery-img {
    border: 1px black solid;
}


/* grid media */
@media screen and (max-width: 600px) {

    #gallery {
        grid-gap: 0;
    }
    }
    
@media screen and (min-width: 600px), (max-width: 1000px) {

}    